<div>
    <img src="{{ artist.images[2].url }}">
    <h1>{{ artist.name }}</h1>
    <table>
        <tr>
            <th>Foto</th>
            <th>Album</th>
            <th>Canción</th>
        </tr>
        {% for track in artist.tracks %}
            <tr>
                <td><img src="{{ track.album.images[1].url }}">  </td>
                <td>{{ track.album.name }}</td>
                <td>{{ track.name }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
