<div class="layout--fourcol-section">
    <h1>Nuevos Lanzamientos</h1>
    {% for item in newRelease.albums.items %}
        <div class="layout__region">
            <figure>
                <img src="{{ item.images[1].url }}" alt="">
            </figure>
            <h2>{{ item.name }}</h2>
            {% for artist in item.artists %}
                <a class="button button--primary" href="{{ path('spotify_new_release.artist', {'id' : artist.id}) }}">
                    {{ artist.name }}
                </a>
            {% endfor %}
        </div>
        <br>
        <br>
    {% endfor %}
</div>

